version: '3.8'

services:
  backend:
    build:
      context: ..
      dockerfile: .docker/Dockerfile
    volumes:
      - ../backend:/app
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
    command: python -m flask run --host=0.0.0.0