@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode styles when .dark class is added to body */
body.dark {
  background-color: #121212; /* Dark background */
  color: #eee;               /* Light text */
}
